<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html>
<head>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
<meta charset="ISO-8859-1">
<meta charset="ISO-8859-1">
<title>Listado de anuncios por categoria</title>
</head>
<body>
<h2 style="text-align:center;">LISTADO DE ANUNCIOS POR CATEGORIA</h2>  
	<table class="table">
		<thead>
			<tr>
				
				<th scope="col">Titulo</th>
				<th scope="col">precio</th>
				<th scope="col">fecha</th>
				<th scope="col">Localidad</th>
				
				

				
			</tr>
		</thead>
		<tbody>
			<tr th:each ="a:${anuncios}">
				
				<td th:text="${a.titulo}"></td>	
				<td th:text="${a.precio}"></td>
				<td th:text="${a.fecha}"></td>
				<td th:text="${a.localidad}"></td>
				<td><a th:href="@{|/anuncioCompleto/${a.id_anuncio}|}" class="badge badge-info"
				>ver anuncio completo</a></td>
				
				
			</tr>
			
		</tbody>
	</table>

<a th:href="@{/}">VOLVER A INICIO</a><br><br><br><br>
<a th:href="@{/categorias}">VOLVER A CATEGORIAS</a><br>


</body>
</html>