<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html>
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
 integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" 
 crossorigin="anonymous">
<meta charset="ISO-8859-1">
<title>Formulario de inicio de sesión</title>
</head>
<body>
<div class="container">
 
 <form action="#" th:object="${formularioRegistroV}" method="POST" th:action="@{/inicioSesion}" class="form-horizontal">
 <!-- Account Number field -->
		<div class="form-group">
			<label for="number" >User</label>
			<input type="text" class="form-control" id="user"
					th:field="*{user}" 
					style="width: 10em;" />
			
		</div>
		
		<div class="form-group">
			<label for="number" >Password</label>
			<input type="text" class="form-control" id="password"
					th:field="*{password}" 
					style="width: 10em;" />
			
		</div>

		
		<!--  Submit button -->
		<div class="form-group">
			<div class="col-xs-offset-2 col-xs-10">
				<button type="submit" class="btn btn-primary">INICIAR SESION</button>
			</div>
		</div>
		<div class="form-group">
		<span th:text="${mensaje}"></span>
		</div>
	</form>

<br>
	<a th:href="@{/}">VOLVER A INICIO</a><br><br>
	<a th:href="@{/formularioRegistroUsuario}">REGISTRESE</a>
</div>
</body>
</html>